<div>
    <img src="{{ randomBeer.image_url }}"/>
    </br>
    <strong>{{ randomBeer.name }}</strong>
    </br>
    <strong>{{ randomBeer.description }}</strong>
    </br>
    <strong>{{ randomBeer.tagline }}</strong>
    </br>
    <strong>{{ randomBeer.food_pairing }}</strong>
    </br>
    <strong>{{ randomBeer.brewers_tips }}</strong>
</div>